.aboutus{
    padding: 0 8rem;
    margin: 4rem 0;
    @include respond(tab-port){
    padding : .5rem 2rem;
    }


    &__box{
        display: flex;
        gap: 5rem;
        @include respond(phone){
            flex-direction: column;
        }
    }

    &__desc {
        .heading__tertiary {
            margin-bottom: 3rem;;
            font-size: 2.5rem;
            span{
                color:$primary__color;
            }
        }

        p{
            font-size: 1.8rem;
            line-height: 1.8;
            text-align: justify;
        }

    }


    &__img{
        width:40%;
        @include respond(phone){
            width:100%;
                }
    }
}