$font :  'PT Sans', sans-serif;
$primary__color:#FAB208;
*{
    padding : 0;
    margin:0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    @include respond(tab-land){
        font-size: 56.25%;
    }
    @include respond(tab-port){
        font-size: 50%;
    }
    @include respond(phone){
        font-size: 43.75%;
    }
    @include respond(big-screen){
        font-size: 75%;
    }
}

body{
    position:relative;
    font-size: 1.6rem;
    font-family: $font;
}


.primary__heading{
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin : 5rem 0 ;
}

.secondary__heading{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin:2.5rem 0 ;
}

.chat__with_us{
    position: fixed;
    font-size: 4rem;
    color :#5afa5a;
    background:#585;
    border-radius: 0 2rem 2rem 0;
    bottom:3rem;
    z-index: 100000;
    cursor: pointer;
    padding:1rem;
    left:0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    overflow: hidden;
    text-align: right;
    translate: -75%;
    transition:all .2s ease-in-out;


    p{
        font-size: 1.6rem;
        visibility: hidden;
        text-decoration: underline;

        &:hover{
            transform: translateY(-2px);

        }
    }
    &:hover{
        translate:0;
        background:#585;

    }
    &:hover p{
        visibility: visible;
    }
}


.back__to__home{
    background: $primary__color;
    padding:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:#000;
    font-size: 4rem;;
    position:fixed;
    bottom:3rem;
    right:0;
    z-index: 200000;
    border-radius: 1rem 0 0 1rem;
}

.instagram{
    bottom:10rem;
    background:linear-gradient( #f9ce34,  #ee2a7b , #6228d7);
    color:white;
    
    &:hover{
        background:linear-gradient( #f9ce34,  #ee2a7b , #6228d7);
    }
    

}