#reachUs{
    padding: 0 8rem;
    margin: 4rem 0;
}

.reachus{

    &__box{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__insta,&__whatsapp{
        
        img{
            display: block;
            width:50%;
            margin: 0 auto;
            box-shadow: 2px 2px 12px rgba(#000,.25);
        }
    }

}