<header id="header">
    <nav class="navbar">
        <div class="brand">
            <div class="brand__logo">
                <img src="./assets/logo.png" alt="">
            </div>
            <div class="brand__name">
                <p>The <span>Turban</span> Villa</p>
            </div>
        </div>
        <ul class="list">
            <a href="#home" class="list__links active">
                <li class="list__items ">Home</li>
            </a>
            <a href="#aboutus" class="list__links">
                <li class="list__items ">About Us</li>
            </a>
            <a href="https://wa.me/message/FGSUJKSJWXK5E1" class="list__links" target="_blank">
                <li class="list__items">Contact</li>
            </a>
        </ul>
        <div class="hamburger ">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </nav>
</header>
<section class="aboutus" id="aboutus">
    <h2 class="primary__heading">About Us</h2>
    <div class="aboutus__box">
        <div class="aboutus__desc">
            <h3 class="heading__tertiary">The Turban Villa</h3>
            <p>The Turban ViLLA is going to
                be your “ONE-STOP TURBAN
                SHOP”. Explore the rich
                heritage of Punjab: TURBANS
                ranging from classic designs
                to modern flairs. We are going
                to offer you a collection of
                turbans in the vibrant colors
                and premium fabrics that cater
                to all the occasions and
                tastes. Further, you can
                complement your turban with
                the range of accessories
                available in our store.</p>
        </div>
        <img class="aboutus__img" src="./assets/carousel/carousel-3.jpg" alt="">
    </div>
</section>
<!-- Reach Us at Section  -->
<section class="reachus" id="reachUs">
    <h2 class="primary__heading">
        Reach Us At
    </h2>
    <div class="reachus__box">
        <div class="reachus__insta">
            <img src="./assets/socials/insta.jpg" alt="">
            <h3 class="secondary__heading">Instagram</h3>
        </div>
        <div class="reachus__whatsapp">
            <img src="./assets/socials/whatsapp.jpg" alt="">
            <h3 class="secondary__heading">Whatsapp Buisness</h3>
        </div>
    </div>
</section>
<!-- Footer Section  -->



<footer class="footer" id="footer">
    <div class="footer__brand">
        <div class="footer__name">
            <h2>The <span>Turban</span> Villa</h2>
        </div>
        <div class="footer__logo">
            <img src="./public/assets/logo.png" alt="">
        </div>
    </div>
    <div class="footer__wrapper">
        <div class="contact">
            <h4 class="heading__tertiary"><b>Contact</b></h4>
            <p class="contact__address">
                <b>Address : </b>Railway Road, Opposite Ramlal Halwai, Jagraon
            </p>
            <p class="contact__phone">
                <b>Phone : </b> +919877337840
            </p>
        </div>
        <div class="footer__socials">
            <ul>
                <li> <b>Reach Us At </b> </li>
                <a href="https://www.instagram.com/turbanvilla?igsh=a3ZzZTBibG9mYTBx&utm_source=qr" target="_blank">
                    <li><i class=" fa-brands fa-instagram"></i><b>Instagram</b></li>
                </a>
                <a href="https://wa.me/message/FGSUJKSJWXK5E1" target="_blank">
                    <li><i class=" fa-brands fa-whatsapp"></i><b>Whatsapp</b></li>
                </a>
            </ul>
        </div>

        <!-- <div class="footer__about">
        <h4 class="heading__tertiary">About</h4>
        
      </div> -->

        <!-- <div class="footer__myaccount">
        <h4 class="heading__tertiary">My Account</h4>
        <p class="footer__mycart">
          View Cart
        </p>
        <p>
          My Wishlist
        </p>
      </div> -->
    </div>
</footer>